body {
    text-align: center;
    background-color: Beige;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 18px;
    max-width: 60%;
    margin: 8px auto;
}

li {
    font-size: 18px;
    text-align: left;
    max-width: 60%;
    margin: 0 auto;
    padding: 4px;
}

a {
    color: LightYellow;
}

a:hover {
    color: Tomato;
}

.Menu {
    color: green;
    background-color: olive;
    border-radius: 25px;
    font-weight: bold;
    font-size: 28px;
    margin: 12px;
    padding: 6px;
}

.Int {
    color: Tomato;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 4px;
}