body {
    text-align: center;
    background: radial-gradient(Black, DarkSlateGrey);
    margin: 0px;
    font-family: "Helvetica", sans-serif;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 12px;
}

h6 {
    margin: 0px;
}

p {
    font-size: 18px;
    margin: 8px auto;
    width: 85%;
    text-align: justify;
    text-indent: 50px;
}

li {
    font-size: 18px;
    text-align: left;
    width: 85%;
    margin: 0 auto;
    padding: 4px;
}

a {
    color: LightYellow;
}

a:hover {
    color: Tomato;
}

th {
  text-align: left;
}

.Background {
    background-image: linear-gradient(to bottom, ghostwhite 35%, darkseagreen 85%, seagreen);
    margin: 0% 15%;
    position: relative;
    top: 0;
    bottom: 0;
    width: 70%;
}

.Menu {
    color: green;
    background: linear-gradient(to top, Olive, Khaki);
    border-radius: 25px;
    font-weight: bold;
    font-size: 22px;
    margin: 12px;
    padding: 8px;
    margin-top: 0px;
}

.Int {
    color: Tomato;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  flex: 25%;
  padding: 4px;
}
