body {
    text-align: center;
    background-color: Beige;
}

.Menu {
    color: green;
    font-weight: bold;
    font-size: 32px;
    padding: 20px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
}

p {
    font-size: 24px;
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}

ul {
    font-size: 18px;
    padding: 12px;
}